@tailwind base;
  .container {
    @apply w-full mx-auto w-11/12 xl:max-w-screen-lg 2xl:max-w-screen-xl px-5 sm:px-8;
  }
  a{
    @apply hover:text-gray-900;        
  }
* {
  font-family: 'Lato', sans-serif;
}
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities


