@tailwind base;
  .container {
    @apply w-11/12 mx-auto xl:max-w-screen-lg 2xl:max-w-screen-xl px-5 sm:px-8;
  }
  a {
    @apply text-gray-700 hover:text-gray-900 visited:!text-gray-400;        
  }

* {
  font-family: 'Lato', sans-serif;
}
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities


